pandas
numpy
matplotlib
seaborn
scikit-learn
catboost
lightgbm
shap
phik
gdown

# 📌 Пояснения:
# pandas, numpy — для работы с данными.
# matplotlib, seaborn — для графиков.
# scikit-learn — модели, пайплайны, метрики.
# catboost, lightgbm — твои бустинговые модели.
# shap — интерпретация моделей.
# phik — корреляции.
# gdown — для скачивания датасетов из Google Drive.
